/*=========== TABLE OF CONTENTS ===========

 *General css
 *Section navigation
 *Navbar
 *Welcome-hero
 *Paslaugos
 *Produktai
 *Galerija
 *Apiemus
 *Kontaktai
 *Footer
/
 *Krepšelis 

==========================================*/

/*-------------------------------------
		*General css
--------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #f8f9fd; */
  background-image: url("/assets/images/bg-clay.jpg");

  color: #616060;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
:any-link {
  color: #616060;
}
:any-link:hover {
  color: #eb5e4a;
}
a {
  text-decoration: none;
}


::selection {
  color: white;
  background: #eb5e4a;
  /* background:#ff5e14; */
}

/*-------------------------------------
		 *Navbar  
--------------------------------------*/
/* .navbar-nav .icons{
  
} */
.navbar-brand {
  font-family: roboto slab;
  letter-spacing: -0.1rem;
  font-weight: 900;
  font-size: 23px;
  background: -webkit-linear-gradient(20deg, #e53a61 0%, #eb5e4a 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-right: 5px;
}

.fixed-top {
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.911);
  backdrop-filter: blur(15px) saturate(86%);
  top: -40px;
  transform: translateY(40px);
  transition: transform 0.3s;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

.nav-link {
  display: flex;
  align-items: flex-end;
  font-family: Roboto;
  font-weight: 500;
  block-size: auto;
}

.nav-link:hover {
  color: #eb5e4a;
}

.lnr {
  font-size: 20px;
  color: #5f5b57;
  text-decoration: none;
}
.icons .lnr:hover {
  font-size: 20px;
  color: #eb5e4a;
  text-decoration: none;
  transition: 0.15s;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

@media only screen and (max-width: 990px) {
  .icons {
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
  .icons :hover {
    background-color: #eb5e4a;
    border-radius: 10px;
    padding: 6px;
    color: white;
  }
}

@media only screen and (max-width: 990px) {
  .icons a {
    background-color: white;
    border-radius: 10px;
    padding: 6px;
  }
}

.navbar .container .collapse li.active a {
  color: #eb5e4a;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

/* scroll-top button */

#myBtn {
  transition: transform 1s;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #eb5e4a;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/*-------------------------------------
		*Welcome-hero
--------------------------------------*/
.welcome-hero-txt p{
margin-top: 35px;
}

.welcome-hero-txt h2{
  color: #383838;
  margin-top: 20px;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}


.carousel-control {
  background-color: transparent;
  border-radius: 3px;
  padding: 6px;
}
.carousel-control:hover {
  background-color: #eb5e4a;
  color: white !important;
}
.carousel-control.active {
  background-color: #6081c3;
}
.container .hero .carousel {
  display: flex;
  height: 80%;
  align-content: space-between;
  /* align-content: space-between; */
}
.carousel-indicators {
  margin: 0;
}
@media only screen and (max-width: 991px) {
  .carousel-indicators {
    visibility: hidden;
  }
}
.hero {
  height: 850px;
  display: flex;
  align-items: center;
}
/* ////////////////// */

.single-welcome-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 850px;
}
.col-lg-5 img {
  height: 600px;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .col-lg-5 img {
    object-fit: contain;
  }
}


  .welcome-hero-txt{
    animation-name: example;
    position: relative;
    
    animation-duration: 1s;
  }

  @keyframes example {
    0%   {  opacity: 0; left:0px; top:-100px;}
    58%  {  opacity: 0; left:0px; top:-50px;}
    100% { left:0px; top:0px;}
  }





.welcome-hero-txt .btn {
  color: #616060;
  background-color: white;
  font-family: roboto;
  border-color:  #616060;
}
.welcome-hero-txt .btn:hover {
  color: white;
  background-color:#eb5e4a;
  font-family: roboto;
  border-color:  transparent;
}

/* Carousel-prev-next ICONS */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  height: 920px;
}

@media only screen and (max-width: 1100px) {
  .carousel-control-prev,
  .carousel-control-next {
    visibility: hidden;
  }
}

.carousel-control:hover {
  color: #5f5b57;
}

/*-------------------------------------
		*Footer
--------------------------------------*/





/*-------------------------------------
		*Section navigation
--------------------------------------*/

section {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#paslaugos {
  background-color: white;
}
#produktai {
  background-color: transparent;
}
#galerija {
  
  background: #bdbdbd;
}
#apiemus {
  background: #bdbdbd;
  background-image: url("/assets/images/abingdon-carpentry-banner\ \(1\).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: 0.85;
}
#kontaktai {
  background-color: white;
}

/*-------------------------------------
    *Kontaktai
--------------------------------------*/

.contact-wrap {
  /* background-color: #e8edf0; */
  background-image: url("/assets/images/bg-clay.jpg");
}

/* .dbox:hover{
  color: #e53a61;
} */
.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e8edf0; */
  background-image: url("/assets/images/bg-clay.jpg");

  height: 40px;
  width: 40px;
  border-radius: 90px;
}

.gmap_iframe {
  border-left: 1px solid #ced4da;
}
@media only screen and (max-width: 991px) {
  .gmap_iframe {
    height: 500px;
    border-top: 1px solid #ced4da;
    border-left: 0px solid #ced4da;
  }
}
/*-------------------------------------
		*paslaugos
--------------------------------------*/

.services_section {
  width: 100%;
  float: left;
  padding-top: 190px;
  padding-bottom: 190px;
}
.services_section2 {
  width: 100%;
  float: left;
  padding-top: 90px;
}
.services_taital {
  width: 100%;
  float: left;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #383838;
}
.services_section2 {
  width: 100%;
  float: left;
}
.furnitures_text {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #383838;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}
.services_section2 {
  width: 100%;
  float: left;
}
.many_taital {
  width: 100%;
  float: left;
  font-size: 16px;
  text-align: center;
  margin-left: 0px;
  margin-top: 10px;
}

.icon_1 {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 90px;
  font-family: "Noto Emoji", sans-serif;
  color: black;
}

.dummy_text {
  width: 100%;
  float: left;
  font-size: 16px;
  text-align: center;
  margin-left: 0px;
  margin-top: 10px;
}
.read_bt_main {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.read_bt {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.read_bt a {
  width: 100%;
  float: left;
  font-size: 18px;
  background-color: #f7f7f7;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  text-decoration: none;
}
.read_bt a:hover {
  color: #ffffff;
  background-color: #eb5e4a;
  transition: 0.15s ease-in-out;
}

/*-------------------------------------
		*Produktai
--------------------------------------*/
.produktas {
  box-shadow: 17px 20px 40px rgb(0 0 0 / 5%);
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.32, 0.08, 0.24, 1),
    cubic-bezier(0.32, 0.08, 0.24, 1);
}
.produktas:hover {
  transform: scale(1.02);
  box-shadow: 17px 20px 40px rgb(0 0 0 / 7%);
  cursor: pointer;
}

.text-center .btn {
  background-color: #f7f7f7;
  color: #616060;
  
}

.text-center .btn:hover {
  color: #ffffff;
  background-color: #eb5e4a !important;
  border-color: white;

}
.card {
  border-radius: 0%;
  border: 0;
}
.col img {
  max-width: 100%;
  cursor: zoom-in;
}
#produktai-modal .modal-img {
  width: 100%;
}

/*-------------------------------------
		*galerija
--------------------------------------*/



.galr {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.galr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/*-------------------------------------
    *Apie
--------------------------------------*/
.apiemus .container{
 display: flex;
 flex-direction: column;
 align-items: center;
}




@media only screen and (max-width: 990px) {
  .inside{
    flex-direction: column;
  }
  }



.apiemus .container .box-1 {
display: flex;
flex: 1;
flex-direction: column;

  background-image: url("/assets/images/bg-clay.jpg");
    padding: 20px;
    margin: 20px;


}
.apiemus .container .box-2 {
display: flex;
flex: 1;
flex-direction: column;
align-items: center;
  background-image: url("/assets/images/bg-clay.jpg");
    padding: 20px;
    margin: 20px;


}

.box-2 h1{
  color: #383838;

}
.box-1 h1{
  color: #383838;

}

.bottom-work h1{
  margin: 10px;
  padding-bottom: 40px;
color: #383838;
}


.bottom-work{

 text-align: center;
 
 width: 99%;
  background-image: url("/assets/images/bg-clay.jpg");
    padding: 20px;
    margin: 20px;
    
    



}
.guys{
  justify-content: space-around;
  align-items:flex-start;
  flex-wrap: wrap;
}
.team{
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  filter: grayscale(100%);
   



}

.team:hover{
color: #eb5e4a;
  filter: grayscale(0%);
}  

.team img{
  border-radius: 50px;
  height: 100px;
  width: 100px;
  object-fit:cover;
  cursor: pointer;
 

  
    
  
}




/* ----klientai---- */
.c-box img{
  height: 150px;
    width: 150px;
  object-fit: contain;
  margin: 10px;
}
.clients{

  background-color: #383838;
 
}
.t-box{
  padding: 30px;
  text-align: center;
  color: #ececec;
 
}
.brand{
  display: flex;
  
  justify-content: space-around;
  align-items: center;
}


@media only screen and (max-width: 990px) {
  .brand{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  }


/* .apie {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.apie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */



/*-------------------------------------
		▄▀▄▀▄▀▄▀▄▀▄*TEST start ▄▀▄▀▄▀▄▀▄▀▄
--------------------------------------*/

/*-------------------------------------
		▄▀▄▀▄▀▄▀▄▀▄ TEST end ▄▀▄▀▄▀▄▀▄▀▄
--------------------------------------*/
